
#emsl1 {
	background-image: url(http://www.alaskaair.com/content/~/media/Images/photos-infographics/d2e/parallax-backgrounds/bags.jpg);
	background-position: right;
	background-size: 200%;
}
#emsl2 {
	background-image: url(http://www.alaskaair.com/content/~/media/Images/photos-infographics/d2e/parallax-backgrounds/bags.jpg);
	background-position: -0.5em -16.5em;
	background-size: 230%;
}



#pic1 {
background-image: url(http://www.brandonshields.com/alaska-airlines/asgrid-framework/images/3814934-u4415-fr.jpg);
background-position: center;
background-size: 100%;
}

#pic2 {
background-image: url(http://www.brandonshields.com/alaska-airlines/asgrid-framework/images/6241955-u4414-fr.jpg);
background-position: center;
background-size: 100%;
}
#pic3 {
background-image: url(http://www.brandonshields.com/alaska-airlines/asgrid-framework/images/gettyimages_200374167-001-u5242-fr.png);
background-position: center;
background-size: 100%;
}
#pic4 {
background-image: url(http://www.brandonshields.com/alaska-airlines/asgrid-framework/images/cbp1162173-2-u5249-fr.jpg);
background-position: center;
background-size: 100%;
}


.grid-3x4 .module-Picturecontainer, .grid-3x4-nomargin .module-Picturecontainer {min-height: 9em;}

.module-carouselImages img {width: 11.1em;height: auto;margin-right: .5em;}
.module-carouselImages {min-height: 147px;}


.module-textareaWhite {
	font-size: 2em;
	float: right;
	color: $sitebtn-txtcolor;
	padding: 3em 2em;
	text-align: center;
}
.module-textareaWhite .headlines {
	color: $sitebtn-txtcolor;
}

/*Force text on hero a little further down*/
div.layout-40.module-textareaWhite {
position: relative;
top: 25px;
}

#miles {
	background-image: url(http://www.brandonshields.com/alaska-airlines/asgrid-framework/images/3654241-u5666-fr.png);
	background-position: center;
	background-size: 100%;
	min-height: 14.69em;
	color: $sitebtn-txtcolor;
}
#milesText {position: relative;top: 10px}

#miles a .headlines {	color: $sitebtn-txtcolor;}
#miles a {	color: $sitebtn-txtcolor; text-decoration: none}


