/*FOOTER*/

.footer {margin:0 auto; padding: 3em 0; font-size:.8em; color: lighten($copy-color, 20%); line-height: 1.5em; width:960px}
.footer a {color:lighten($copy-color, 20%);margin: 0 .8em 0 .8em}
.footer a.first, a.AdChoices {margin-left: 0}