/*My Account Sign in Module*/

.module-MyAccountRememberMe {
	font-size: .8em;
}
.module-MyAccountSignUp {
	float: right;
	margin-top: .3em;
}
.module-MyAccountSignUp a#signUpLink {
	font-size: .9em;
}

.module-myAccountInput {width: 100%; padding: .3em}
.module-MyAccount #divPassword {width: 100%; padding: .3em}
.module-myAccountInput {margin-bottom: .5em}
.module-form label + a {font-size: 0.9em;line-height: 1.5em;}

.formhelp {font-size: .8em;float: right;}